img{
    width: 500px;
    float: right;
}
body{
    background-image: url("budapest2.avif") ;
    background-size: 1670px;
    color: white;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
p{
    font-size: large;
}    


.holyright{
width: 360px;
}
.unicum{
float: left;
width: 740px;
}
.castle{
    width: 400px;
}